<form class="update-point-form" (ngSubmit)="updatePoint()" [formGroup]="pointForm">
    <section class="fields">
        <mat-form-field appearance="standard">
            <mat-label>X: </mat-label>
            <input matInput type="number" required [formControl]="xControl" name="new-point-x">
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Y: </mat-label>
            <input matInput type="number" required [formControl]="yControl" name="new-point-y">
        </mat-form-field>

        <mat-form-field *ngIf="hasReach" appearance="standard">
            <mat-label>Reach: </mat-label>
            <input matInput type="number" [formControl]="reachControl" name="reach">
        </mat-form-field>
    </section>

    <div class="buttons">
        <button *ngFor="let type of pointTypes" type="button" mat-button [color]="getPointTypeButtonColor(type)"
            (click)="updatePointType(type)">
            {{type}}
        </button>

        <button mat-raised-button color="accent" type="submit" [disabled]="!isValid">
            {{point ? "Update" : "Add"}}
        </button>

        <button *ngIf="point" (click)="deletePoint()" mat-raised-button color="warn" class="delete-button"
            type="button">
            Delete
        </button>
    </div>
</form>