.update-point-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;

    mat-form-field {
        max-width: 100px;
        margin: 0.5em;
    }

    .buttons {
        margin-left: 0.5em;
    }

    .delete-button {
        margin-left: 1em;
    }
}
