<div class="wrapper">
    <section class="board">
        <mat-card class="add-card">
            <mat-card-header>
                <app-modify-point (onPointModified)="addPoint($event)">
                </app-modify-point>
            </mat-card-header>
        </mat-card>

        <div *ngFor="let point of board; let i = index">
            <mat-card class="modify-card">
                <mat-card-header>
                    <app-modify-point [point]="point" (onPointModified)="modifyPoint($event, i)">
                    </app-modify-point>
                </mat-card-header>
                <mat-card-content *ngIf="isDevice(point)">
                    Device info: {{getOptimalLinkStationMessage(point)}}
                </mat-card-content>
            </mat-card>
        </div>

    </section>
</div>