.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-card {
    margin: 0.75em;
    padding: 0;

    mat-card-header {
      app-modify-point {
        width: 100%;
      }
    }

    mat-card-content {
      padding: 0.5em;
      background-color: #ff4081;
    }
  }

  .add-card {
    background-color: rgb(181, 250, 204);
  }

  .modify-card {
    background-color: lightgrey
  }
}
